.main-profile-left {
  display: flex;
  flex-direction: column;
  padding: 36px 20px;
  background-color: var(--clr-secondary);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: var(--transition-default);
  min-height: 100vh;
  width: 200px;
}

.profile-top-left {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 22px;
}

.profile-top-title {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
}

.main-profile-left .sidebar-toggler {
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

@media screen and (max-width: 1200px) {
  .main-profile-left {
    width: 72px;
    align-items: center;
  }
  .profile-top-title {
    display: none;
  }
  .profile-top-left {
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}

@media screen and (max-width: 420px) {
  .main-profile-left {
    margin-left: -72px;
  }
}
