.main-profile-left {
  display: flex;
  flex-direction: column;
  padding: 36px 20px;
  background-color: var(--clr-secondary);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 260px;
  transition: var(--transition-default);
}

.profile-top-left {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 22px;
}

.profile-top-title {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
}

.main-profile-left .sidebar-toggler {
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
