.profile-content {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  gap: 25px;
  background-color: var(--clr-secondary);
  flex: 1;
  padding: 32px;
  padding-right: 55px;
  color: white;
  overflow: hidden;
  min-height: 100vh;
}

.profile-edit-container {
  flex: 1;
  background-color: var(--clr-primary);
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), 0px 12px 24px rgba(0, 0, 0, 0.55),
    0px 20px 30px rgba(0, 0, 0, 0.5);
}
.profile-edit-container h3 {
  display: block;
  text-align: left;
  padding: 0;
  font-size: 20px;
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 2px;
  color: rgb(168, 168, 168);
}

.profile-form .form-group input,
.profile-form .form-group select {
  color: white;
  background: var(--clr-secondary);
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(150, 150, 150);
  font-size: 16px;
  transition: border-color 0.3s;
  margin-bottom: 25px;
}

.profile-form .form-group input:focus,
.profile-form .form-group select:focus {
  border: none;
  border-bottom: 3px solid #0ef;
}

.form-group-row {
  display: flex;
  gap: 18px;
}
.form-group-row .form-group {
  flex: 1;
}
.button-container {
  width: 100px;
  margin-left: auto;
}
.button:disabled {
  border: none;
  pointer-events: none;
}

.profile-pic-page {
  background-color: var(--clr-primary);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), 0px 12px 24px rgba(0, 0, 0, 0.55),
    0px 20px 30px rgba(0, 0, 0, 0.5);
}
.profile-picture {
  position: relative;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.profile-picture img {
  border: 4px solid #0ef;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.upload-input {
  display: none;
}

.upload-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 0 0 50% 50%;
  text-align: center;
  cursor: pointer;
  /* display: none; */
  font-size: 30px;
}
.form-group .is-invalid {
  border: 1px solid red;
}

.profile-form .form-control:focus {
  border: 1px solid #0ef;
  outline: none;
}

/* .profile-picture:hover .upload-button {
  display: block;
} */

@media screen and (max-width: 700px) {
  .profile-content {
    grid-template-columns: 1fr;
    padding: 20px;
    padding-right: 20px;
  }

  .profile-edit-container {
    padding: 20px;
  }

  .profile-pic-page {
    width: 100%;
    height: auto;
  }

  .form-group-row {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profile-content {
    padding: 10px;
    padding-right: 10px;
  }

  .profile-edit-container {
    padding: 16px;
  }

  .profile-pic-page {
    max-width: none;
    height: auto;
  }

  .form-group input,
  .form-group select {
    padding: 8px;
    font-size: 14px;
  }
}
