.weather-dashboard {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto 1fr auto;
  gap: 25px;
  padding-left: var(--page-horizontal-padding);
  padding-right: var(--page-horizontal-padding);
  background-color: var(--clr-secondary);
  color: #ffffff;
  min-height: 100vh;
  flex: 1;
  width: 0;
  min-width: 0;
  overflow-x: hidden;
}

.weather-dashboard h3 {
  margin-bottom: 10px;
}

.highlights-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--clr-primary);
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), 0px 12px 24px rgba(0, 0, 0, 0.55),
    0px 20px 30px rgba(0, 0, 0, 0.5);
}

.highlights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr;
  gap: 18px;
  flex: 1;
  height: calc(100% - 35px);
}

.highlight {
  background: radial-gradient(circle, #2f3741 0%, #2f37413b 100%);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 260px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.25),
    0px 20px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.highlight h4 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #aaa;
  font-size: 16px;
}

@media (max-width: 1548px) {
  .weather-dashboard {
    grid-template-columns: 1fr;
    column-gap: normal;
    padding-left: var(--page-horizontal-padding);
    padding-right: var(--page-horizontal-padding);
  }
  .highlights-container {
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
  }
}

@media (max-width: 1080px) {
  .weather-dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    padding-left: calc(var(--page-horizontal-padding) * 0.625);
    padding-right: calc(var(--page-horizontal-padding) * 0.625);
    width: 100%;
  }
  .highlights-container {
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
  }
}

@media (max-width: 1024px) {
  .weather-dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding-left: calc(var(--page-horizontal-padding) * 0.46875);
    padding-right: calc(var(--page-horizontal-padding) * 0.46875);
    width: 100%;
  }
  .highlights-container {
    grid-column: 1 / span 1;
    grid-row: 3 / 4;
  }
  .highlights {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
  .highlight {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .weather-dashboard {
    padding-left: calc(var(--page-horizontal-padding) * 0.3125);
    padding-right: calc(var(--page-horizontal-padding) * 0.3125);
    gap: 10px;
  }
  .highlight {
    padding: 8px;
    min-width: 100%;
  }
}
