.index-gauge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.index-gauge .percent {
  position: relative;
}
.index-gauge svg {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  overflow: visible;
}
.index-gauge svg circle {
  fill: none;
  stroke-width: 30;
  stroke-linecap: round;
  min-height: 150px;
  min-width: 150px;
}
.index-gauge .bg-circle {
  stroke: rgb(64, 64, 64);
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
}
.index-gauge .fill-circle {
  stroke: var(--stroke-color);
  stroke-dasharray: 600px;
  stroke-dashoffset: calc(600px - (600px * var(--percent)) / 100);
  stroke-width: 36;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
  filter: drop-shadow(0 0 12px var(--stroke-color));
}
.index-gauge .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.index-gauge .number h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}
.index-gauge .number h3 span {
  font-size: 15px;
}
.uv-level {
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0.5em;
}

.number h2 {
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
}
.number h1 {
  font-size: 14px;
  font-weight: 150;
  font-style: italic;
}

.peak-uv-description {
  color: #aaa;
  margin-top: 1em;
  font-size: 3vw;
}

@media (min-width: 600px) {
  .index-gauge .number h3 {
    font-size: 38px;
  }
  .index-gauge .number h3 span {
    font-size: 15px;
  }
  .index-gauge .number h2 {
    font-size: 12px;
  }
  .index-gauge .number h1 {
    font-size: 14px;
  }
  .peak-uv-description {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .uv-level {
    font-size: 4vw;
  }
}

/* Title icon styling */
h4 .title-icon {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
}
