.wind-status {
  margin-right: 10px;
}
.wind-status h4 .title-icon {
  margin-right: 10px;
  font-size: 18px;
  color: cyan;
  font-weight: 700;
}
.wind-visual {
  position: relative;

  margin: 10px 0;
}
.wind-visual,
.wind-chart {
  overflow: visible;
}

.wind-line-chart,
.wind-bar-chart {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.wind-chart {
  margin-bottom: 0;
}

.wind-bars rect {
  transform: translateY(8px);
  transition: fill 0.3s ease;
}
.wind-bars rect:hover {
  fill: rgb(200, 255, 255);
}

.wind-speed-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.wind-data-unit {
  display: flex;
  align-items: baseline;
  color: #8f9779;
}

.wind-speed {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  text-shadow: 0 0 5px;
}

.speed-unit {
  font-size: 1rem;
  margin-left: 5px;
  font-style: italic;
}

.wind-time-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: italic;
  font-size: 0.8rem;
  margin-right: 10px;
}
.wind-time {
  bottom: 0;
  color: #aaa;
}

.tooltip {
  position: fixed;
  background-color: var(--clr-primary);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
}
