.main-content {
  background: transparent;
  flex: 1;
  padding: 32px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}
