.error-details {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  text-align: left;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 14px;
  color: var(--text-color-dark);
  max-height: 200px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-all;
}

.error-details summary {
  font-weight: bold;
  cursor: pointer;
  color: red;
  margin-bottom: 10px;
}

.error-text {
  color: red;
  margin-top: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}
