.air-quality {
  width: 100%;
}

.air-quality-info {
  margin-bottom: 7px;
  margin-top: 8%;
}
.air-quality-value {
  font-weight: bold;
  font-size: 1.2rem;
}

.air-quality-bar {
  position: relative;
  height: 10px;
  background: linear-gradient(
    to right,
    #00e400 0%,
    #ffff00 20%,
    #ff7e00 40%,
    #ff0000 60%,
    #99004c 80%,
    #7e0023 100%
  );
  border-radius: 5px;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.air-quality-level {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
