.humidity-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.humidity-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.humidity-value-percentage {
  display: flex;
  align-items: flex-start;
  margin-top: auto;
}

.humidity-value {
  font-size: 2rem;
  font-weight: bold;
  color: aqua;
  text-shadow: 0 0 5px;
}

.humidity-percentage {
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 25%;
}

.dew-point {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #b0b0b0;
  padding-left: 15%;
}

.dew-point .bi-droplet-half {
  font-size: 20px;
  color: aqua;
}
