.index-gauge {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-gauge .percent {
  position: relative;
}
.index-gauge svg {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
.index-gauge svg circle {
  fill: none;
  stroke-width: 30;
  stroke-linecap: round;
  min-height: 150px;
  min-width: 150px;
}
.index-gauge .bg-circle {
  stroke: #505a6ba2;
}
.index-gauge .fill-circle {
  stroke: var(--stroke-color);
  stroke-dasharray: 600px;
  stroke-dashoffset: calc(600px - (600px * var(--percent)) / 100);
  stroke-width: 36;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
}
.index-gauge .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.index-gauge .number h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}
.index-gauge .number h3 span {
  font-size: 15px;
}
.uv-level {
  transition: color 0.3s ease;
  color: yellow;
}

.number h2 {
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
}
.number h1 {
  font-size: 14px;
  font-weight: 150;
  font-style: italic;
}

.peak-uv-description {
  color: #aaa;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
