.wind-visual {
  position: relative;
  min-width: 200px;
  min-height: 100px;
  margin: 10px 0;
  margin-bottom: 40px;
}

.wind-line-chart,
.wind-bar-chart {
  width: 100%;
  height: auto;
}

.wind-chart {
  margin-bottom: -70px;
}

.wind-bars rect {
  transform: translateY(8px);
}

.wind-speed-info {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.wind-data-unit {
  display: flex;
  align-items: baseline;
}

.wind-speed {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

.speed-unit {
  font-size: 1rem;
  margin-left: 5px;
}

/* Position time in the bottom right */
.wind-time-data {
  position: absolute;
  font-size: 13px;
  bottom: 2%;
  right: 4%;
  text-align: right;
  width: 30%;
  color: #aaa;
}
